<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.1.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:persistence-mysql.properties" />

    <bean id="publicKeyEntryRepository" class="com.netcracker.paladin.infrastructure.repositories.PublicKeyEntryRepositoryImpl">
        <constructor-arg name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="asymmetricEncryption" class="com.netcracker.paladin.application.encryption.asymmetric.Rsa">
    </bean>

    <bean id="symmetricEncryption" class="com.netcracker.paladin.application.encryption.symmetric.Aes">
    </bean>

    <bean id="sessionKeygen" class="com.netcracker.paladin.application.encryption.sessionkeygen.ChebiKeygen">
    </bean>

    <bean id="configUtility" class="com.netcracker.paladin.infrastructure.ConfigUtility">
    </bean>

    <bean id="emailUtility" class="com.netcracker.paladin.infrastructure.mail.EmailUtility">
        <constructor-arg name="configUtility" ref="configUtility"/>
    </bean>

    <bean id="encryptionUtility" class="com.netcracker.paladin.application.encryption.EncryptionUtilityImpl">
        <constructor-arg name="publicKeyEntryRepository" ref="publicKeyEntryRepository"/>
        <constructor-arg name="asymmetricEncryption" ref="asymmetricEncryption"/>
        <constructor-arg name="symmetricEncryption" ref="symmetricEncryption"/>
        <constructor-arg name="sessionKeygen" ref="sessionKeygen"/>
    </bean>

    <bean id="swingEmailSender" class="com.netcracker.paladin.presentation.SwingPaladinEmail">
        <constructor-arg name="configUtility" ref="configUtility"/>
        <constructor-arg name="emailUtility" ref="emailUtility"/>
        <constructor-arg name="encryptionUtility" ref="encryptionUtility"/>
    </bean>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.user}" />
        <property name="password" value="${jdbc.pass}" />
    </bean>

    <tx:annotation-driven />
</beans>